/*header starts here*/
.left{
	width:40%;
	display:inline-block;
}

.right {
	width:50%;
	display:inline-block;
	vertical-align:top;
	margin-top:30px;
	font-size:30px;
}

/*header ends here*/


*{
	margin:0;
	padding:0;
}

html{
	background-image: url("../images/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:1000px;
}


body {
	height:auto;
	width:100%;
	background-size:100%;

}

header{
	height:100px;
}


/*Nav starts here*/

#nav_menu ul{
	list-style-type: none;
	position:relative;
	z-index: 1;
}

#nav_menu ul li {
	float:left;
}

#nav_menu ul ul{
	display:none;
	position:absolute;
}

#nav_menu ul ul li{
	float:none;
	position:relative;
}

#nav_menu ul ul li ul{
	position:absolute;
	left:100%;
	top:0;
}



#nav_menu ul li:hover > ul{
	display:block;
}

#nav_menu > ul::after{
	content:"";
	clear:both;
	display:block;
}



#nav_menu ul{
	margin:0;
	padding:0;
}

#nav_menu ul li a{
	text-align:center;
	display:block;
	width:276px;
	padding: 1em 0;
	text-decoration: none;
	background-color:blue;
	color:white;
	font-weight:bold;
}

#nav_menu ul li.lastitem a{
	width:276px;
}

#nav_menu ul li a.current{
	color:yellow;
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus{
	background-color:gray;
}




/*Main starts here*/

main{
	height:900px;
}

.lefta{
	height:900px;
	width:50%;
	vertical-align: top;
	margin-top:20px;
	margin-left:100px;
	display:inline-block;
}

.vid1{
	border: 3px solid black;
	box-sizing: border-box;
}


.righta
{
	padding: 5px;
	height:890px;
	width:40%;
	vertical-align:top;
	display:inline-block;
	background-color:white;
	opacity:0.8;
}

/*Main ends here*/






/*Footer starts here*/

footer{
	height:50px;
	width:inherit;
	font-size: 15px;
	font-weight: bold;
	padding-top:15px;
	background-color: blue;
	opacity:0.5;
	font-weight:bold;
	font-size:20px;
	color:white;
	text-align:center;
	
}
